content-map-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background: blue;

}
.map-grid {
    display: grid;
    grid-column: 1/2;
}
.form-grid{
    display: grid;
    grid-column: 2/3;
}
#mapa-mapbox {
    width: 100%;
    height: 70vh;
    background: gray;
}
