<section id="content-tinder">
    <h4 id="title-tinder">¿Tinder de ... música?</h4>
    <p id="content-tinder">Así como Tinder te muestra diferentes perfiles según ciertas caracteriscas,
        porqué no nostrarte también, en un radio cercano, gente que le gusta la música que tÚ? 
        Suena cool, ¿no?

        En el siguiente mapita, da click en botón para permitir tu ubicatión y te enteres
        de quién comparte el mismo gusto musical(o gusto culposo).
    </p>
</section>
<app-boxmap></app-boxmap>
