#content-tinder {
    background: rgb(92, 35, 158);
    height: auto;
    margin: 0;
    padding: 3rem;
    text-align: center;
    font-size: 2rem;
    color: white;
}
/* #title-tinder {
    
}
#content-tinder {

} */