<header id="banner-header">
    <nav>
        <a mat-button color="primary"
        [routerLink]= "['/play']" target="_blank">PLAY</a>
        
        <button mat-button color="primary" [matMenuTriggerFor]="belowMenu">Below</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        
        <button mat-button color="primary" [matMenuTriggerFor]="beforeMenu">Before</button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        
        
        <button mat-button color="primary" [matMenuTriggerFor]="afterMenu">After</button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
    </nav>
</header>
<app-home></app-home>
<app-body></app-body>
<app-boxmap></app-boxmap>
<app-footer></app-footer>



